.BestProductsCard .card {
   overflow: hidden;
}

.BestProductsCard .card img {
  transition: transform .5s, filter .5s ease-in-out;
  filter: blur(0);
}

.BestProductsCard .card:hover img {
  filter: blur(1px);
  transform: scale(1.1);
}

.BestProductsCard .card-img-overlay {
   padding: 0;
   top: unset;
}
.BestProductsCard .card-img-overlay {
   max-height: 0px;
   transition: .5s;
}

.BestProductsCard:hover .card-img-overlay {
   cursor: pointer;
   max-height: 350px;
   color: black;
}

.BestProductsCard .card-body {
   background-color: var(--primary);
}

