.ProductCard .title {
   white-space: nowrap; 
   width: 100%; 
   overflow: hidden;
   text-overflow: ellipsis;
}

.ProductCard .desc {
   width: 100%;
   margin: 0 0 1em 0;
   overflow: hidden;
}

.ProductCard .line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}

.ProductCard .card {
   width: auto !important;
   margin: 20px 0px;
}