.primary.btn {
   background: var(--pinky);
   border: solid 2px var(--pinky);
   transition: .2s;
}
.primary.btn:hover {
   background: var(--bg);
   border: solid 2px var(--pinky);
}

.secondary.btn {
   background: var(--bg);
   border: solid 2px var(--pinky);
   transition: .2s;
}

.secondary.btn:hover {
   background: var(--pinky);
   border: solid 2px var(--pinky);
}

.arrow.btn span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;
}

.arrow.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.arrow.btn:hover span {
  padding-right: 25px;
}

.arrow.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.primary.btn.disabled {
  background: var(--secondary);
}